<ion-content id="form-auth">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <span id="logo">
            <img src="assets/images/logo.png" alt="" width="70%" style="padding-top: 1em; padding-bottom: 1em;">
          </span>
        </ion-col>
      </ion-row>
      <ion-row id="input-area">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-input name="username" type="text" placeholder="Usuário" ngModel required></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-input name="password" [type]="passwordType" placeholder="Senha" ngModel required></ion-input>
            <ion-icon class="eye-icon" [name]="eyeIcon" slot="end" (click)="toggleEyeIcon()"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col size-md="6" size-lg="5" size-xs="12">
          <ion-button type="submit" color="primary" expand="block">Entrar</ion-button>
        </ion-col>

        <!-- <ion-col class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <a [routerLink]="['/recovery-password']">Esqueci minha senha</a>
        </ion-col> -->

        <!-- <ion-col size-md="6" size-lg="5" size-xs="12">
          <ion-button [routerLink]="['/register']" id="link-register-login" color="light" expand="block">Criar conta
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </form>
</ion-content>