<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="logout()">
        <ion-icon name="exit-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-searchbar color="dark" showCancelButton="focus"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row class="items">
    <ion-col>
      <ion-item *ngFor="let weapon of weapons" class="item-thumbnail-left" (click)="goToWeapon(weapon)">
        <img [src]="weapon.image" />
        <span>
          <h1>{{weapon.name}}</h1>
          <p>{{weapon.brand}}</p>
        </span>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
