/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-row{
    &.items{
        padding: 0.8em;
        ion-col{
            padding: 0;
        }
    }
    ion-item {
        margin-bottom: .5em;

        img {
            width: 20%;
            padding: 0.5em;
            box-sizing: border-box;
            border-radius: 100%;
            min-height: 60px;
        }

        span {
            padding-left: 1em;
            width: 80%;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            height: 100%;
            box-sizing: border-box;

            h1 {
                width: 100%;
                margin: 0;
                font-size: 1em;
            }

            p {
                margin: 0;
                width: 100%;
                font-weight: 300;
                font-size: 0.8em;
            }
        }
    }
}